.homePage {
    text-align: center;
    height: 100%;
    background: #e5e5e5; 
    .pages{
        height: 100%;
        width: 100%;           
    }
    .pages::before{
        content: '';
        vertical-align: middle;
        display: inline-block;            
        height: 100%;
    }
    .typeSwitch{
        position: absolute;
        z-index: 11;
        left: 20px;
        top: 70px;
    }
    .autoSwitch{
        position: absolute;
        z-index: 11;
        left: 20px;
        top: 100px;
    }
    .duringInput{
        position: absolute;
        z-index: 11;
        left: 86px;
        top: 96px;
    }
}